* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    line-height: 1;
}

@media screen and (max-width: 991px) {
    .oneupmenu-main-nav {
        background: #fff;
    }

    /* Navbar */
    .oneupmenu-container {
        padding: 0 20px;
    }

    .oneupmenu-nav-options-mobile {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .oneupmenu-nav-options {
        display: none;
    }

    .oneupmenu-nav-buttons {
        display: none;
    }

    .oneupmenu-hamburger {
        display: block;
    }

    .oneupmenu-cross {
        display: none;
    }

    /* ---- Mobile Navbar & Submenus Shared Styles ---- */
    .oneupmenu-mobile-nav,
    .oneupmenu-products-mobile,
    .oneupmenu-solutions-mobile,
    .oneupmenu-resources-mobile,
    .oneupmenu-company-mobile,
    .oneupmenu-tv-mobile,
    .oneupmenu-dashboard-mobile {
        position: fixed;
        left: 0;
        width: 100%;
        background: #fff;
        display: none;
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.3s ease, transform 0.3s ease;
        visibility: hidden;
        z-index: 9998;
        overflow-y: auto;

        /* Flexbox to position buttons at bottom */
        flex-direction: column;
        justify-content: space-between;
        padding-right: 20px;
        padding-left: 20px;
    }

    /* specific styles for main mobile nav */
    .oneupmenu-mobile-nav {
        top: 88px;
        height: calc(100vh - 88px);
        /* padding-top: 24px; */
        padding-bottom: 24px;
    }

    /* specific styles for sub-menus (Full Screen) */
    .oneupmenu-products-mobile,
    .oneupmenu-solutions-mobile,
    .oneupmenu-resources-mobile,
    .oneupmenu-company-mobile,
    .oneupmenu-tv-mobile,
    .oneupmenu-dashboard-mobile {
        top: 0;
        height: 100vh;
        /* padding-top: 60px; */
        /* Extra padding for top since navbar is hidden */
        padding-bottom: 40px;
        z-index: 9999;
        /* Ensure it's above everything */
    }

    .oneupmenu-mobile-nav.oneupmenu-mobile-nav-active,
    .oneupmenu-products-mobile.oneupmenu-mobile-nav-active,
    .oneupmenu-solutions-mobile.oneupmenu-mobile-nav-active,
    .oneupmenu-resources-mobile.oneupmenu-mobile-nav-active,
    .oneupmenu-company-mobile.oneupmenu-mobile-nav-active,
    .oneupmenu-tv-mobile.oneupmenu-mobile-nav-active,
    .oneupmenu-dashboard-mobile.oneupmenu-mobile-nav-active {
        display: flex;
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }

    .oneupmenu-nav-options-mobile {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 32px;
        margin-top: 16px;
    }

    .oneupmenu-nav-options-mobile li {
        font-size: 18px;
        color: #062B3A;
        line-height: 21px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .oneupmenu-nav-options-mobile svg {
        rotate: -90deg;
    }

    .oneupmenu-nav-buttons-mobile {
        display: flex;
        gap: 16px;
        margin-top: 48px;
        justify-content: center;
    }

    /* Hamburger and Cross Toggle */
    .oneupmenu-cross.oneupmenu-cross-active {
        display: block !important;
    }

    .oneupmenu-hamburger.oneupmenu-hamburger-hidden {
        display: none !important;
    }

    /* ---- Products ---- */
    .oneupmenu-products-mobile {
        margin-top: 24px;
    }

    .oneupmenu-product-name {
        font-size: 15px;
        color: #3574E3;
        line-height: 24px;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .oneupmenu-product-name svg {
        rotate: 90deg;
    }

    .oneupmenu-products-mobile {
        display: none;
    }

    .oneupmenu-products-mobile-options {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 24px;
        margin-top: 40px;
    }

    .oneupmenu-products-mobile-option {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .oneupmenu-products-mobile-option h4 {
        font-weight: 500;
        color: #062B3A;
        line-height: 19px;
    }

    .oneupmenu-products-mobile-option>div {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .oneupmenu-products-mobile-option-img {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #E4EDFF;
        border-radius: 4px;
    }

    .oneupmenu-products-mobile-integrations {
        background: #F0F7FF;
        border: 1px solid #E4EDFF;
        border-radius: 8px;
        padding: 16px;
        margin-top: 28px;
    }

    .oneupmenu-products-mobile-integrations h4 {
        font-size: 18px;
        font-weight: 500;
        color: #062B3A;
        line-height: 21.6px;
    }

    .oneupmenu-products-mobile-integrations p {
        font-size: 15px;
        font-weight: 500;
        color: #3574E3;
        line-height: 22.5px;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .oneupmenu-products-mobile-integrations svg {
        rotate: -90deg;
    }

    .oneupmenu-products-mobile-integrations-img {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 16px;
        margin: 16px 0;
    }

    .oneupmenu-products-mobile-card {
        width: 100%;
        min-height: 272px;
        background: #062B3A;
        position: relative;
        margin-top: 16px;
        margin-bottom: 16px;
        border-radius: 8px;
        padding: 18px 0 0 22px;
        overflow: hidden;
    }

    .oneupmenu-products-mobile-card h4 {
        font-size: 15px;
        font-weight: 600;
        color: #fff;
        line-height: 19.5px;
    }

    .oneupmenu-products-mobile-card a {
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        border: 2px solid #fff;
        line-height: 19px;
        padding: 12px 25px;
        display: inline-block;
        border-radius: 5px;
        /* margin: 18px 0; */
        margin-top: 18px;
    }

    .oneupmenu-products-mobile-card img {
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        width: 260px;
        height: 154px;
    }

    .oneupmenu-products-mobile .oneupmenu-nav-buttons-mobile {
        margin-bottom: 20px;
    }

    /* ---- Solutions ---- */
    .oneupmenu-solutions-mobile {
        margin-top: 24px;
        display: none;
    }

    .oneupmenu-solutions-item-links {
        gap: 20px;
    }

    .oneupmenu-solutions-mobile .oneupmenu-nav-buttons-mobile {
        margin-bottom: 20px;
    }

    .oneupmenu-solutions-mobile .oneupmenu-products-mobile-card img {
        bottom: 0;
    }

    .oneupmenu-outcomes-mobile {
        background: #3574E3;
        border-radius: 8px;
        width: 100%;
    }

    .oneupmenu-outcomes-mobile h4 {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        line-height: 21.6px;
    }

    .oneupmenu-outcomes-mobile a {
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        line-height: 22.5px;
    }

    .oneupmenu-solutions-item {
        padding: 0 16px;
    }

    .oneupmenu-solutions-mobile .oneupmenu-products-mobile-options {
        gap: 31px;
    }

    .oneupmenu-solutions-mobile .oneupmenu-products-mobile-card {
        width: 100%;
        margin-top: 32px;
    }

    /* `---- Resources ---- */
    .oneupmenu-resources-mobile {
        margin-top: 24px;
        display: none;
    }

    .oneupmenu-resources-mobile .oneupmenu-solutions-item {
        padding: 0;
    }

    .oneupmenu-resources-mobile .oneupmenu-products-mobile-card {
        width: 100%;
        height: 244px;
        border-radius: 8px;
        background: #F0F7FF;
        border: 2px solid #E2EEFC;
        padding: 16px;
    }

    .oneupmenu-resources-mobile .oneupmenu-products-mobile-card img {
        position: static;
        transform: none;
        width: 110px;
        height: 48px;
    }

    .oneupmenu-resources-mobile .oneupmenu-products-mobile-card p {
        font-size: 14px;
        font-weight: 400;
        color: #062B3A;
        line-height: 22.5px;
        margin-top: 16px;
    }

    .oneupmenu-resources-mobile .oneupmenu-products-mobile-card a {
        font-size: 15px;
        font-weight: 600;
        background: #3574E3;
        color: #fff;
        line-height: 22.5px;
        padding: 10px 24px;
        border-radius: 5px;
    }

    .oneupmenu-products-mobile-card-2 {
        background: #0089E9;
        width: 100%;
        height: 264px;
        padding: 16px;
        border-radius: 8px;
    }

    .oneupmenu-products-mobile-card-2 img {
        width: 160px;
        height: 145px;
    }

    .oneupmenu-products-mobile-card-2 h4 {
        font-size: 18px;
        font-weight: 600;
        color: #fff;
        line-height: 21.6px;
    }

    .oneupmenu-products-mobile-card-2 a {
        font-size: 15px;
        font-weight: 600;
        background: transparent;
        color: #fff;
        border: 2px solid #fff;
        line-height: 22.5px;
        padding: 10px 20px;
        border-radius: 5px;
        display: inline-block;
        margin-top: 16px;
    }

    .oneupmenu-resources-mobile .oneupmenu-nav-buttons-mobile {
        margin-bottom: 20px;
    }

    /* ---- Company ---- */
    .oneupmenu-company-mobile {
        margin-top: 24px;
        display: none;
    }

    .oneupmenu-company-mobile .oneupmenu-company-items {
        margin-top: 32px;
        gap: 24px;
    }

    .oneupmenu-company-mobile .oneupmenu-resources-item-card-1 {
        width: 100%;
        height: 204px;
        margin: 16px 0;
    }

    .oneupmenu-company-mobile .oneupmenu-resources-item-card-1 h4 {
        font-size: 15px;
        font-weight: 500;
        line-height: 19.5px;
    }

    .oneupmenu-company-mobile .oneupmenu-resources-item-card-1 img:first-child {
        width: 140px;
        height: 40px;
    }

    .oneupmenu-company-mobile .oneupmenu-resources-item-card-1 .oneupmenu-company-awards {
        display: flex;
        align-items: center;
    }

    .oneupmenu-company-mobile .oneupmenu-resources-item-card-1 .oneupmenu-company-awards img {
        flex-shrink: 0;
        width: 50px;
        height: 55px;
    }

    .oneupmenu-company-mobile .oneupmenu-nav-buttons-mobile {
        margin-bottom: 20px;
    }

    .oneupmenu-company-mobile .oneupmenu-resources-item-card-2 {
        width: 100%;
        padding: 16px;
        height: 220px;
    }

    .oneupmenu-company-mobile .oneupmenu-resources-item-card-2 p {
        font-size: 13px;
        font-weight: 400;
    }

    .oneupmenu-company-mobile .oneupmenu-resources-item-card-2 h5 {
        font-size: 14px;
        font-weight: 400;
    }

    /* Products Tv */
    .oneupmenu-tv-mobile {
        margin-top: 24px;
    }

    .oneupmenu-tv-mobile .oneupmenu-products-tv-wrapper {
        grid-template-columns: 1fr;
    }

    /* Products Dashbaord */
    .oneupmenu-dashboard-mobile {
        margin-top: 24px;
    }

    .oneupmenu-dashboard-mobile .oneupmenu-products-tv-wrapper {
        grid-template-columns: 1fr;
    }

    .oneupmenu-dashboard-mobile .oneupmenu-products-tv-wrapper {
        gap: 20px;
    }

    .oneupmenu-dashboard-mobile .oneupmenu-products-mobile-card {
        width: 100%;
        background: #3574E3;
        padding: 16px;
    }

    .oneupmenu-dashboard-mobile .oneupmenu-nav-buttons-mobile {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1100px) {
    /* ---- Navbar ---- */
    .oneupmenu-login-btn {
        padding: 8px 16px;
    }

    .oneupmenu-booking-btn {
        padding: 8px 16px;
    }

    .oneupmenu-nav-options {
        gap: 18px;
    }

    .oneupmenu-resources-item-card a {
        padding: 8px 16px;
    }

    .oneupmenu-resources-item-card.special-card a {
        padding: 8px 16px;
    }

    .oneupmenu-products-left-btn {
        gap: 12px;
        padding-right: 10px;
        font-size: 15px;
    }

    .oneupmenu-products-bg-left {
        width: 300px;
    }

    .oneupmenu-products-tv {
        gap: 6px;
        justify-content: space-between;
    }

    .oneupmenu-products-tv-wrapper {
        gap: 6px;
    }

    .oneupmenu-products-tv-right {
        width: 270px;
        height: 270px;
        padding: 16px;
        overflow: hidden;
    }

    .oneupmenu-products-tv-right img {
        width: 267px;
        height: 149px;
        bottom: -20px;
    }

    .oneupmenu-products-bottom {
        padding-right: 18px;
        padding-left: 20px;
    }

    .oneupmenu-products-tv-wrapper {
        grid-template-columns: repeat(2, 200px);
    }

    .oneupmenu-products-content {
        gap: 40px;
    }
    .oneupmenu-products-bottom>div {
        gap: 20px;
    }

    .oneupmenu-products-integrations {
        gap: 8px;
    }
}

@media screen and (min-width: 1101px) and (max-width: 1130px) {
    .oneupmenu-products-bg-left {
        width: 340px;
    }

    .oneupmenu-products-tv {
        gap: 10px;
    }

    .oneupmenu-products-tv-wrapper {
        gap: 10px;
    }

    .oneupmenu-products-left-btn {
        gap: 14px;
        padding-right: 12px;
        font-size: 16px;
    }

    .oneupmenu-products-tv-right {
        width: 290px;
        height: 290px;
        padding: 16px;
        overflow: hidden;
    }

    .oneupmenu-products-tv-right img {
        width: 282px;
        height: 157px;
        bottom: -10px;
    }
}

@media screen and (min-width: 1131px) and (max-width: 1200px) {
    .oneupmenu-products-bg-left {
        width: 360px;
    }

    .oneupmenu-products-left-btn {
        gap: 14px;
        padding-right: 12px;
    }

    .oneupmenu-products-tv {
        gap: 18px;
    }

    .oneupmenu-products-tv-wrapper {
        gap: 18px;
    }

    .oneupmenu-products-tv-right {
        width: 290px;
        height: 290px;
        padding: 16px;
        overflow: hidden;
    }

    .oneupmenu-products-tv-right img {
        width: 282px;
        height: 157px;
        bottom: -10px;
    }
}




@media screen and (min-width: 1201px) and (max-width: 1320px) {
    .oneupmenu-products-bg-left {
        width: 400px;
    }

    .oneupmenu-products-tv {
        gap: 18px;
    }

    .oneupmenu-products-tv-wrapper {
        gap: 18px;
    }
}