* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    line-height: 1;
}

.active {
    display: block;
}

header {
    position: relative;
}

.oneupmenu-main-nav {
    background: #FBFBFB;
}

.oneupmenu-container {
    max-width: 1240px;
    margin: 0 auto;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 88px;
}

.oneupmenu-nav-options {
    display: flex;
    gap: 32px;
    height: 100%;
}

.oneupmennu-mobile-nav {
    display: none;
}

.oneupmenu-nav-options-mobile {
    display: none;
}

.oneupmenu-nav-buttons-mobile {
    display: none;
}

.oneupmenu-hamburger {
    display: none;
}

.oneupmenu-cross {
    display: none;
}

.oneupmenu-products-mobile {
    display: none;
}

.oneupmenu-solutions-mobile {
    display: none;
}

.oneupmenu-resources-mobile {
    display: none;
}

.oneupmenu-company-mobile {
    display: none;
}

.oneupmenu-tv-mobile {
    display: none;
}

.oneupmenu-nav-options li {
    display: flex;
    align-items: center;
    gap: 6.5px;
    cursor: pointer;
    height: 100%;
    position: relative;
    border-bottom: 3px solid transparent;
    transition: border-bottom-color 0.3s ease;
}

.oneupmenu-nav-options li span {
    font-size: 15px;

}

.oneupmenu-nav-options li svg {
    transition: transform 0.3s ease;
}

.oneupmenu-nav-options li:hover {
    border-bottom-color: #3574E3;
}

.oneupmenu-nav-options li:hover span {
    color: #3574E3;
}

.oneupmenu-nav-options li:hover svg {
    color: #3574E3;
    transform: rotate(180deg);
}

.oneupmenu-nav-buttons {
    display: flex;
    gap: 16px;
}

.oneupmenu-login-btn {
    font-size: 15px;
    font-weight: 600;
    color: #3574E3;
    padding: 10px 24px;
    border: 1px solid #3574E3;
    border-radius: 5px;
    line-height: 24px;
}

.oneupmenu-booking-btn {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    padding: 10px 24px;
    background-color: #3574E3;
    border-radius: 5px;
    line-height: 24px;
}

/* ---- oneupmenu-dropdowns ---- */

/* ----- Products ---- */

.oneupmenu-products {
    position: relative;
    border-top: 1px solid #E4EDFF;
    border-bottom: 1px solid #E4EDFF;
    display: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    background: #fff;
    visibility: hidden;
}

.oneupmenu-products-bg {
    display: flex;
}

.oneupmenu-products-bg-left {
    width: 457px;
    height: 495px;
    background: #F0F7FF;
    flex-shrink: 0;
}

.oneupmenu-dropdowns {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.oneupmenu-active-dropdown {
    opacity: 1 !important;
    transform: translateY(0) !important;
    visibility: visible !important;
}

.oneupmenu-products-bg-right {
    width: 100%;
    height: 495px;
    background: #FBFBFB;
}

.oneupmenu-products-content {
    position: absolute;
    top: 40px;
    left: 100px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    max-width: 1240px;
}

.oneupmenu-products-left {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: start;
}

.oneupmenu-products-left-btn {
    display: flex;
    align-items: center;
    gap: 17px;
    border: 0;
    background: transparent;
    cursor: pointer;
    color: #062B3A;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 20px 8px 8px;
    border-radius: 8px;
}

.oneupmenu-products-left-btn:hover,
.oneupmenu-btn-active {
    background: #E4EDFF;
    color: #3574E3;
}

.oneupmenu-products-left-btn:hover>.oneupmenu-products-angle,
.oneupmenu-btn-active>.oneupmenu-products-angle {
    color: #3574E3;
}

.oneupmenu-products-left-icon {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E4EDFF;
    border-radius: 4px;
}

/* ---- Products: TV ---- */
.oneupmenu-products-tv-container {
    /* display: none;  */
}

.oneupmenu-products-tv {
    display: flex;
    align-items: start;
    gap: 32px;
}

.oneupmenu-products-tv-title {
    font-size: 18px;
    font-weight: 500;
    color: #425B76;
}

.oneupmenu-products-tv-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 220px);
    gap: 32px;
    margin-top: 24px;
}

.oneupmenu-products-tv-wrapper>div {
    display: flex;
    align-items: start;
    gap: 6px;
}

.oneupmenu-products-tv-wrapper img {
    margin-top: 4px;
}

.oneupmenu-products-tv-wrapper h4 {
    font-weight: 500;
    color: #062B3A;
    line-height: 150%;
}

.oneupmenu-products-tv-wrapper p {
    font-size: 13px;
    color: #425B76;
    line-height: 130%;
    margin-top: 4px;
}

.oneupmenu-products-tv-right {
    background: #062B3A;
    width: 311px;
    height: 311px;
    border-radius: 8px;
    padding: 20px 27px 0 27px;
    position: relative;
}

.oneupmenu-products-tv-right h4 {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    line-height: 23.4px;
}

.oneupmenu-products-tv-right button {
    font-size: 14px;
    font-weight: 500;
    line-height: 22.4px;
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 13px 25px;
    cursor: pointer;
    margin: 16px 0;
}

.oneupmenu-products-tv-right img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.oneupmenu-products-bottom {
    margin-top: 32px;
    background: #F0F7FF;
    border: 1px solid #E4EDFF;
    border-radius: 8px;
    padding: 12px 20px 12px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.oneupmenu-products-bottom>div {
    display: flex;
    align-items: center;
    gap: 27px;
}

.oneupmenu-products-bottom h4 {
    font-size: 18px;
    font-weight: 500;
    color: #062B3A;
    line-height: 21.6px;
}

.oneupmenu-products-bottom a {
    font-size: 15px;
    font-weight: 500;
    color: #3574E3;
    line-height: 22.5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 16px;
}

.oneupmenu-products-integrations {
    display: flex;
    align-items: start;
    gap: 16px;
}

/* ---- Products: Dashboard ---- */
.oneupmenu-products-dashboard-container {
    display: none;
}

.oneupmenu-products-dashboard-container .oneupmenu-products-tv-right {
    background-color: #3574E3;
}

/* ---- Solutions ---- */
.oneupmenu-solutions {
    border-top: 1px solid #E4EDFF;
    border-bottom: 1px solid #E4EDFF;
    padding: 40px 0;
    display: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    background: #fff;
    visibility: hidden;
}

.oneupmenu-solutions-content {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 40px;
}

.oneupmenu-solutions-item {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 32px;
    width: 250px;
}

.oneupmenu-solutions-item h4 {
    font-size: 18px;
    font-weight: 500;
    color: #425B76;
    line-height: 21.6px;
}

.oneupmenu-solutions-item a {
    color: #062B3A;
    line-height: 24px;
}

.oneupmenu-solutions-item>div:first-child {
    display: flex;
    align-items: center;
    gap: 10px;
}

.oneupmenu-solutions-item-links {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
}

.oneupmenu-solutions-content .oneupmenu-products-tv-right {
    background: #3371DD;
}


/* ---- Resources ---- */
.oneupmenu-resources {
    border-top: 1px solid #E4EDFF;
    border-bottom: 1px solid #E4EDFF;
    padding: 40px 0;
    display: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    background: #fff;
    visibility: hidden;
}

.oneupmenu-resources-item-card {
    background: #F0F7FF;
    width: 310px;
    height: 352px;
    border-radius: 8px;
    padding: 36px 32px;
}

.oneupmenu-resources-item-card p {
    margin: 32px 0;
    color: #022B3A;
    line-height: 25px;
}

.oneupmenu-resources-item-card a {
    font-size: 15px;
    font-weight: 600;
    background: #3574E3;
    color: #fff;
    line-height: 25px;
    cursor: pointer;
    padding: 10px 24px;
    border-radius: 5px;
    display: inline-block;
}

.oneupmenu-resources-item-card.special-card {
    background: #0089E9;
    padding: 30px;
}

.oneupmenu-resources-item-card.special-card p {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    margin: 8px 0;
}

.oneupmenu-resources-item-card.special-card a {
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 20px;
}

/* ---- Company ---- */
.oneupmenu-company {
    border-top: 1px solid #E4EDFF;
    border-bottom: 1px solid #E4EDFF;
    padding: 40px 0;
    display: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    background: #fff;
    visibility: hidden;
}

.oneupmenu-company-content {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.oneupmenu-company-items {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: start;
    gap: 36px;
}

.oneupmenu-company-item {
    display: flex;
    align-items: center;
    gap: 12px;

}

.oneupmenu-company-item h4 {
    line-height: 22.4px;
    color: #062B3A;
    font-weight: 500;
}

.oneupmenu-company-item p {
    font-size: 14px;
    line-height: 19.6px;
    color: #425B76;
}

.oneupmenu-company-cards {
    display: flex;
    gap: 40px;
}

.oneupmenu-company-awards {
    display: flex;
    gap: 14px;
}

.oneupmenu-resources-item-card-1 {
    width: 370px;
    height: 270px;
    border: 1px solid #E4EDFF;
    background: #F7F9FB;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}

.oneupmenu-resources-item-card-1 h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    color: #2D2340;
}

.oneupmenu-resources-item-card-2 {
    width: 370px;
    height: 270px;
    border-radius: 8px;
    background: #062B3A;
    padding: 46px 29px;
}

.oneupmenu-resources-item-card-2 p {
    color: #fff;
    line-height: 22.4px;
}

.oneupmenu-resources-item-card-2-user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 32px;
}

.oneupmenu-resources-item-card-2-user h5,
.oneupmenu-resources-item-card-2-user p {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.oneupmenu-resources-item-card-2-user p {
    margin-top: 2px;
}